.about {
    display: flex;
    justify-content: space-around;
}

.about .f {
    margin-top: 55px;
}

.about h2 {
    color: #007c7c;
    font-size: 43px;
}

.about p {
    font-size: 23px;
    margin-top: 6px;
    color: gray;

}
.about button {
    background-color: #007c7c;
    color: white;
    border: 1px solid #007c7c;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 30px;
    width: 205px;
    height: 55px;
}


.about1 {
    display: flex;
    justify-content: space-around;
    background-color: #edffff;
    padding-top: 23px;
}

.about1 .f {
    /* margin-top: 143px; */
}

.about1 h2 {
    color: #007c7c;
    font-size: 43px;
}

.about1 p {
    font-size: 23px;
    margin-top: 6px;
    color: gray;

}
.about1 button {
    background-color: #007c7c;
    color: white;
    border: 1px solid #007c7c;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 30px;
    width: 205px;
    height: 55px;
}

.about2 {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-top: 23px;
}

.about1 .f {
    /* margin-top: 143px; */
}

.about2 h2 {
    color: #007c7c;
    font-size: 43px;
}

.about2 p {
    font-size: 23px;
    margin-top: 6px;
    color: gray;

}
.about2 button {
    background-color: #007c7c;
    color: white;
    border: 1px solid #007c7c;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 30px;
    width: 205px;
    height: 55px;
}
